.banana-container {
  background-color: #D1D1D1;
  /* background-color: red; */
  background: linear-gradient(#00000091, #00000091), url('../../assets/Donut/donut-banner.webp');
  background-position: center;
  background-size: cover;
}