.fixedBtn img{
  height: 80px;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 9999;
}
.fixedBtn2 img{
  height: 80px;
  position: fixed;
  left: 10px;
  bottom: 100px;
  z-index: 9999;
}
